{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {#        {{ form.as_p }}#}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            {% if field.name == 'photo' %}
                {% if form.instance.photo %}
                    <label class="form-label" for="{{ field.id_for_label }}">Текущее Photo:</label>
                    <img src="{{ form.instance.photo.url }}" alt="Current Photo" class="thumbnail">
                    <br>
                {% endif %}
                <label class="form-label" for="{{ field.id_for_label }}">Новое Photo:</label>
                {{ field }}
                <style>
                    .thumbnail {
                        max-width: 200px; /* Установите желаемую максимальную ширину */
                        max-height: 200px; /* Установите желаемую максимальную высоту */
                    }
                </style>

            {% else %}
                <p><label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}</p>
                <div class="form-error">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}

        <p>
            <button type="submit">Отправить</button>
        </p>

    </form>
{% endblock %}

