<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
It is {% now "jS F Y H:i" %}
<p>{{ menu|join:" | " }}</p>
<h1>{{ title }}</h1>

{% for p in posts %}
    <ul>
        {% if p.is_published %}
            <li nonce="gfbcfg">
                <p>{{ p.title }}</p>
                <p>{{ p.content }}</p>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            </li>
        {% endif %}
    </ul>


{% endfor %}

</body>
</html>