{% extends 'base.html' %}


{% block content %}
    {% include 'women/includes/nav.html' %}

    <h1>{{ title }}</h1>
    {% for p in posts %}
        <ul>
            {% if p.is_published %}
                <li>
                    <p>{{ p.title }}</p>
                    <p>{{ p.content }}</p>
                    <a href="{% url 'show_post' p.id %}">Читать пост</a>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    {% endfor %}
    {% include 'women/includes/nav.html' %}
{% endblock %}


