{% extends 'base.html' %}

{% block breadcrumbs %}
    <!-- Теги -->
    {% with post.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
                <li>Теги:</li>
                {% for t in tags %}
                    <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.slug }}</h2>
    <h2>{{ post.author }}</h2>
    <h2>{{ post.time_created }}</h2>
    <h2>{{ post.cat }}</h2>

    {% if post.photo %}
        <p><img class="img-article-left" src="{{ post.photo.url }}" alt=""></p>
    {% endif %}

    {{ post.content|linebreaks }}

    {% if post.author == user or user.is_superuser %}
        <p class="link-read-post"><a href="{% url 'edit_page' post.pk %}">Править пост</a></p>
        <p class="link-read-post"><a href="{% url 'delete_page' post.slug %}">Удалить пост</a></p>
    {% endif %}
{% endblock %}
