{% extends 'base.html' %}
{% load women_tags %}

{% block content %}
    <h1>Профиль</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div>Загруженные файлы:</div>
        {% if user.files.all %}
            <ul>
                {% for file in user.files.all %}

                    <li><a href="{{ file.file.url }}">{{ file.file.name|last_part:"/"}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No files uploaded yet.</p>
        {% endif %}
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.error }}</div>
        {% endfor %}
        <p>
            <button type="submit">Сохранить</button>
        </p>
    </form>

    <hr><a href="{% url 'users:password_change' %}">Сменить пароль</a>
{% endblock %}